In [17]:
import seaborn as sns
iris = sns.load_dataset("iris")

virginica = iris[iris['species'] == 'virginica']
minimum_values = virginica.min()

print(minimum_values)

mean_pl = iris['petal_length'].mean()
filtered_df = iris[iris['petal_length'] > mean_pl]
print(len(filtered_df))

titanic = sns.load_dataset("titanic")
count = len(titanic[(titanic['pclass'] == 2) & (titanic['survived'] == 1)])
print(count)
subset = titanic[(titanic['pclass'] == 1) & (titanic['survived'] == 0)]
print(subset['age'].min(), subset['age'].max())
females = titanic[titanic['sex'] == 'female']
percent = (females['survived'].mean() * 100)
print(round(percent))

titanic.isnull().sum()

sepal_length          4.9
sepal_width           2.2
petal_length          4.5
petal_width           1.4
species         virginica
dtype: object
93
87
2.0 71.0
74

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64